.Main{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left:var(--margin-left);
}
.box1 h1{
  font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 5em;
line-height: 101.38%;
/* or 81px */


color: #000000;
}
.box1 p{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px; 
line-height: 150%;
/* or 30px */


color: #000000;
}